/* Shiword Reverse v2.0 - stylesheet for admin pages */

/* custom colors */
#headimg-bg {
	background: #F2F2F2 url('../images/bg.png') left 20px repeat-x;
}
.default-device-image img{
	border:1px solid #777;
}
#preview-main {
	background-color: #f2f2f2;
}
#preview-pages {
	border-bottom:5px solid #ccc;
	border-top:5px solid #ccc;
}
#preview-meta {
	background-color: #aaa;
	border:1px solid #ccc;
	color:#111;
}
#preview-menu {
	background-color:#111;
	border:5px solid #fff;
}
#preview-footer {
	border-top:1px solid #777;
	background-color: #ddd;
	color:#111;
}
#preview-body {
	color:#111;
}
.color_preview_box {
	border:1px solid #262626;
}
.h3_field {
	background-color:#aaa;
	color:#fff;
}
#alpha_bar {
	background-color: #CCCCCC;
	border: 1px inset #999999;
}
#preview-pages .preview-link, #preview-menu .preview-link,
#preview-pages .preview-linkhi, #preview-menu .preview-linkhi {
	text-shadow: none;
}

/* custom background */
div#custom-background-image {
	background-image: url('../images/bg.png');
}